# Data Cleaning - Delete duplicate rows and useless features

## 0. Introduction

This notebook contains:
  1. Identify columns that contain a single value
  2. Delete columns that contain a single value
  3. Consider columns that have very few values
  4. Remove columns that have a low variance
  5. Identify rows that contain duplicate data
  6. Delete rows that contain duplicate data

## 1. Identify columns that contain a single value

In [2]:
import pandas as pd

path = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv"
data = pd.read_csv(path, header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [3]:
data.nunique()

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

## 2. Delete columns that contain a single value

In [4]:
data.shape

(937, 50)

In [5]:
counts = data.nunique()

In [6]:
to_del = [i for i,v in enumerate(counts) if (v == 1)]
print(to_del)

[22]

In [7]:
data.drop(to_del, axis=1, inplace=True)
data.shape

(937, 49)

## 3. Consider columns that have very few values

In [18]:
counts = data.nunique()

In [19]:
low_var = [i for i,v in enumerate(counts) if float(v/data.shape[0]*100) < 1]
low_var

[21, 23, 24, 25, 31, 35, 37, 38, 44, 48]

In [20]:
data.shape

(937, 49)

In [21]:
data.drop(low_var, axis=1, inplace=True)
data.shape

(937, 39)

## 4. Remove columns that have a low variance

In [22]:
from sklearn.feature_selection import VarianceThreshold

path = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv"
data = pd.read_csv(path, header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1,2558,1506.09,456.63,90,6395000.0,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500.0,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500.0,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500.0,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000.0,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [28]:
X = data.iloc[:, :-1]
y = data.iloc[:,-1]
X.shape, y.shape

((937, 49), (937,))

In [29]:
transform = VarianceThreshold()
X_sel = transform.fit_transform(X)
X_sel.shape

(937, 48)

In [30]:
import numpy as np
thresholds = np.arange(0.0, 0.55, 0.05)

In [34]:
results = list()
for t in thresholds:
  transform = VarianceThreshold(threshold=t)
  X_sel = transform.fit_transform(X)
  n_features = X_sel.shape[1]
  results.append(n_features)
  print(f">Threshold={t:.2f}, Features={n_features}")

>Threshold=0.00, Features=48
>Threshold=0.05, Features=37
>Threshold=0.10, Features=36
>Threshold=0.15, Features=35
>Threshold=0.20, Features=35
>Threshold=0.25, Features=35
>Threshold=0.30, Features=35
>Threshold=0.35, Features=35
>Threshold=0.40, Features=35
>Threshold=0.45, Features=33
>Threshold=0.50, Features=31

## 5. Identify rows that contain duplicate data

In [9]:
iris_path = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/iris.csv"
iris = pd.read_csv(iris_path, header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [10]:
dups = iris.duplicated()
print(dups.any())

True

In [11]:
iris[dups]

       0    1    2    3               4
34   4.9  3.1  1.5  0.1     Iris-setosa
37   4.9  3.1  1.5  0.1     Iris-setosa
142  5.8  2.7  5.1  1.9  Iris-virginica

## 6. Delete rows that contain duplicate data

In [12]:
iris.shape

(150, 5)

In [13]:
iris.drop_duplicates(inplace=True)
iris.shape

(147, 5)